.footer{
    background: url('../images/Rectangle\ 30.png');
    width: 100%;
    // height: 250px;
    margin-top: 50px;
    .container{
            padding: 30px;
            display: flex;
    }
    .contactInformation{
       display: inline-block;
       margin-left: 41px;
       color: white;
    }
    .activitytTime{
        margin-left: 41px;
        color: white;
     }
    .footer-f{
        display: inline-block;
        margin-left: 41px;;
        color: white;
       padding: 10px;
    }
}