
/*desktops - higher resolution*/
@media (min-width: 1281px){
    .questions{
        height: 900px;
    }
}

/*laptops, desktops*/
@media (min-width: 1069px) and (max-width: 1280px) {
    .circle{
        margin-left: 39%;
    }
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

    #card-group{
        margin-top: 0px;
        // padding: 0px;
       }
    .aboute-text{
        text-align: center;
    }
    .circle{
        margin-left: 39%;
    }
   form{

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

       input{
        margin:20px;
    }

   }


}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    #card-group{
        margin-top:0px;
        padding: 0px;
    }
    #container-3{
        height: 250px;
    }
    .circle{
        margin-left: 33%;
    }

    #carouselExampleIndicators{
        background: rgba(211, 211, 211, 0.267);
        height: 650px;
        padding: 40px;
    }
        .carousel-inner{
            display: flex;
            justify-content: center;
            height: 502px;
        }
        .carousel-item{
            width: 150px;
            height: 150px;
           border-radius: 50%;
            border: 2px solid black;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
     
            input{
             margin:20px;
         }
        }

        .footer{
    
            .container {
                max-width: 931px;
            }

        }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px){
    #card-group{
        margin-top:0px;
        padding: 0px;
    }
    .card-title{
        text-align: center;
    }
    .icon-card{
        margin: auto;
    }
    .container-3{
        height: 50px;
    }
    .aboute-text{
        text-align: center;
    }
    .circle{
         margin-left: 17%;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
        input{
         margin:20px;
     }
    }
    .footer{
        height: 300px;
    }
    .contactInformation{
       display: block;
        text-align: center;
        position: relative;
        left: -167px;
     }
        .activitytTime{
            display: none;
        }
        .footer-f{
            position: relative;
            top: 121px;
        }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px){
    .navbar{
      
        position: fixed;
        width: 100%;
        height: 100px;
        background: white;
        z-index: 10;

        .logo{
            display: inline;
            margin-right: -48px;
            margin-top: auto;
        

            img{
                width: 92px;
                height: 73px;
                margin-right: 45px;
            }
        }
            .phone{
                display: inline;
                cursor: pointer;
            }
        
    }

    #card-group{
        margin-top:0px;
        padding: 0px;
    }
    .card-title{
        text-align: center;
    }
    .icon-card{
        margin: auto;
    }
    .aboute-text{
        text-align: center;
        line-height: 30px;
    }
    .circle{
        margin-left: -25%;
    }
    .questions-item-4{display: none;}
    .questions-item-5{display: none;}
    .questions-item-6{display: none;}
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 
        input{
         margin:20px;
     }
    }
    .footer{
        height: 500px;
    }
    .contactInformation{
        display: block;
         text-align: center;
         position: relative;
         left: -118px;
      }
         .activitytTime{
             display: none;
         }
         .footer-f{
             position: relative;
             top: 267px;
         }
}